<h1>握手履歴一覧</h1>
<ui>
    <li>all <%= current_user.profile.prev_handshake_all %></li>
    <li>honoka <%= current_user.profile.prev_handshake_honoka %></li>
    <li>kotori <%= current_user.profile.prev_handshake_kotori %></li>
    <li>umi <%= current_user.profile.prev_handshake_umi %></li>
    <li>hanayo <%= current_user.profile.prev_handshake_hanayo %></li>
    <li>rin <%= current_user.profile.prev_handshake_rin %></li>
    <li>maki <%= current_user.profile.prev_handshake_maki %></li>
    <li>eri <%= current_user.profile.prev_handshake_eri %></li>
    <li>nozomi <%= current_user.profile.prev_handshake_nozomi %></li>
    <li>nico <%= current_user.profile.prev_handshake_nico %></li>
<ui>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
          google.load("visualization", "1.1", {packages:["bar"]});
          google.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['握手履歴', 'handshake count'],
                ['orange',      <%= @profile.prev_handshake_all %>      ],
                ['white',       <%= @profile.prev_handshake_honoka %>   ],
                ['blue',        <%= @profile.prev_handshake_kotori %>   ],
                ['green',       <%= @profile.prev_handshake_umi %>      ],
                ['yellow',      <%= @profile.prev_handshake_hanayo %>   ],
                ['red',         <%= @profile.prev_handshake_maki %>     ],
                ['sky',         <%= @profile.prev_handshake_eri %>      ],
                ['purple',      <%= @profile.prev_handshake_nozomi %>   ],
                ['pink',        <%= @profile.prev_handshake_nico %>     ]
            ]);

            var options = {
              chart: {
                title: '蔵書されている本の価格帯',
              }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, options);
        }
        </script>
</head>
<body><div id="columnchart_material" style="width: 900px; height: 500px;"></div></body>

<ul><%= link_to "[HOME]", home_index_path%><ul>
