<h1>Home#index</h1>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.

  <h3>シリアルコード入力</h3>
  <%= link_to "[シリアルコード入力]", home_input_serial_path%>

  <h3>バーコード</h3>
  <%= link_to "[QRコード表示]", home_qrcode_path%>

  <h3>過去の握手履歴一覧</h3>
  <%= link_to "[握手履歴一覧]", home_handshake_path%></br>
  <%= link_to "[develop]", home_input_prev_count_path%>

  <%= link_to "Settings", edit_user_registration_path, :class => "navbar-link" %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link" %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
<% end %>
