<h1>count_select</h1>
<%= form_for @profile,  :url => {:controller => :profiles, :action => :update_prev_handshake} do |f| %>
<p>
    <%= f.label :prev_handshake_all %>
    <%= f.text_field :prev_handshake_all %><br>

    <%= f.label :prev_handshake_honoka %>
    <%= f.text_field :prev_handshake_honoka %><br>

    <%= f.label :prev_handshake_kotori %>
    <%= f.text_field :prev_handshake_kotori %><br>

    <%= f.label :prev_handshake_umi %>
    <%= f.text_field :prev_handshake_umi %><br>

    <%= f.label :prev_handshake_hanayo %>
    <%= f.text_field :prev_handshake_hanayo %><br>

    <%= f.label :prev_handshake_rin %>
    <%= f.text_field :prev_handshake_rin %><br>

    <%= f.label :prev_handshake_maki %>
    <%= f.text_field :prev_handshake_maki %><br>

    <%= f.label :prev_handshake_eri %>
    <%= f.text_field :prev_handshake_eri %><br>

    <%= f.label :prev_handshake_nozomi %>
    <%= f.text_field :prev_handshake_nozomi %><br>

    <%= f.label :prev_handshake_nico %>
    <%= f.text_field :prev_handshake_nico %><br>
    <%= f.submit("develop") %>
<% end %>

<ul><%= link_to "[HOME]", home_index_path%><ul>
